{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form class="form-horizontal" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Form Name</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="text" placeholder="probablysomethingoffensive" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}