{% extends "base.html" %}
{% block title %}Score{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='pretty_table.css') }}">
    <style type="text/css">
    .current_user {
        color: red;
    }
    </style>
{% endblock %}
{% block content %}
    <table class="table table-striped table-bordered table-hover ">
        <thead>
            <th>name</th>
            <th>score</th>
        </thead>
        {% for user in users|sort(attribute='score', reverse=True) %}
            {% if current_user == user %}
                <tr onclick="window.document.location='/detailedscoreboard';" class="current_user">
            {% else %}
                <tr>
            {% endif %}
                <td>{{user["username"]}}</td>
                <td>{{user["score"]}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="form-group">
        <div class="col-md-4">
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/detailedscoreboard" class="btn btn-primary">View Detailed Scoreboard</a>
        </div>
    </div>
{% endblock %}
